.nav-item:hover{
background-color: greenyellow;
margin-top: 5%;
margin-bottom: 5%;



}
.cards{
display: flex;
flex-basis: 6%;
justify-content: space-between;
margin-top: 5%;
margin-bottom: 5%;


}
.maindiv{
background-image: url(https://fredbode.github.io/web-group-f-web-assignment/images/about/background\ 1.jpg);
background-repeat: no-repeat;

}
.info{
color: darkcyan;

}
.card2{margin-top: 5%;

}
.directors{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}
.certificate{
margin-bottom: %;

}
.sportsday{
    display: flex;
    justify-content: space-between;
    


}Kalyango Fred