.first-div{
    display: flex;
    justify-content: space-around;
        
    
    
    
}
.second-div{
     display: flex;
    justify-content: space-around;

}
.main-div{
    border: #f9f9f9;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    

}
.form{
    padding-bottom: 5px;
}
.footer1{
    
    background-color: blue;
    color: white;
}
#icon{
    display: flex;
    justify-content: space-around;
}